simulation:
  body_type: axisymmetric
  only_stagnation_point: true
  finite_thickness: true              # Active finite thickness
  diffusion_type: stefan_maxwell
  consider_thermal_diffusion: false
  consider_dufour_effect: false
  chemical_mode: "non_equilibrium"
  catalytic_wall: false               # Pas de catalyse
  adiabatic: false

numerical:
  n_eta: 20                       
  eta_max: 6.0
  convergence_tolerance: 1.0e-6
  max_iterations: 1000

mixture:
  name: CO2_5
  thermodynamic_database: RRHO
  viscosity_algorithm: chapman_enskog_ldlt
  thermal_conductivity_algorithm: chapman_enskog_ldlt
  state_model: ChemNonEq1T 

output:
  x_stations: [0.0]
  output_directory: test_outputs

outer_edge:
  edge_points:
    - x: 0.0
      radius: 1
      velocity: 0
      temperature: 3500              # T_edge = 3500K
      pressure: 7000
      boundary_override: 
        enabled: false
  
  velocity_gradient_stagnation: 4027.1213622326
  freestream_density: 0.0019382429
  freestream_velocity: 500000
  
  finite_thickness_params:
    v_edge: -111.31796000
    d2_ue_dxdy: -290979.9698604651
    delta_bl: 0.0105250000

wall_parameters:
  temperatures: [1700]              # T_wall = 1700K
  emissivity: 0.0                   # Pas de radiation
  environment_temperature: 1

abacus:
  enabled: false
  
continuation:
  wall_temperature_stable: 300
  edge_temperature_stable: 500
  pressure_stable: 7000