simulation:
  body_type: axisymmetric
  only_stagnation_point: true
  finite_thickness: true
  diffusion_type: stefan_maxwell
  consider_thermal_diffusion: false
  consider_dufour_effect: false
  chemical_mode: "non_equilibrium"
  catalytic_wall: true
  adiabatic: false

numerical:
  n_eta: 20
  eta_max: 6.0
  convergence_tolerance: 1.0e-9
  max_iterations: 100000

mixture:
  name: CO2_5
  thermodynamic_database: RRHO
  viscosity_algorithm: chapman_enskog_ldlt
  thermal_conductivity_algorithm: chapman_enskog_ldlt
  state_model: ChemNonEq1T 

output:
  x_stations: [0.0]
  output_directory: test_outputs

outer_edge:
  edge_points:
    - x: 0.0
      radius: 1
      velocity: 0
      temperature: 5000
      pressure: 7000
      boundary_override: 
        enabled: false
        mass_fraction_condition: [2.746334e-05, 5.391048e-01, 8.388689e-05, 4.190457e-01, 4.173816e-02]
  
  velocity_gradient_stagnation: 4027.1213622326
  freestream_density: 0.0019382429
  freestream_velocity: 500000
  
  finite_thickness_params:
    v_edge: -111.31796000
    d2_ue_dxdy: -290979.9698604651
    delta_bl: 0.0105250000

wall_parameters:
  temperatures: [5000]
  emissivity: 0
  environment_temperature: 1

edge_reconstruction:
  enabled: true
  
  target_heat_flux: 400000
  
  boundary_conditions:
    pressure: 7000
    wall_temperature: 2000
    catalyticity: 0.1
  
  flow_parameters:
    velocity_gradient_stagnation: 4027.1213622326
    freestream_density: 0.0019382429
    freestream_velocity: 500000
  
  finite_thickness_params:
    v_edge: -111.31796000
    d2_ue_dxdy: -290979.9698604651
    delta_bl: 0.0105250000
  
  solver:
    initial_temperature_guess: 5600
    temperature_min: 3312
    temperature_max: 6000
    tolerance: 1e-3
    max_iterations: 50

abacus:
  enabled: false
  
continuation:
  wall_temperature_stable: 3000
  edge_temperature_stable: 5905.5
  pressure_stable: 7000